.buttonContainer {
    display: flex;
    flex-direction: row;
}

.menuItems {
    padding: 1rem 10px;
}

.exitButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}